@{
    ViewBag.Title = "Print Build Sheet";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Success!</h1>
            </hgroup>
        </div>
    </section>
}

<ul>
    <li>Back to print list</li>
    <li>Back to index</li>
</ul>
